.page-title {
  font-size: 21px;
  line-height: 27px;
  font-weight: bold;
  color: $main-text-color;
  margin: $small-indent * 2 $base-indent;

  @media (min-width: $md-width) {
    margin-left: 0;
  }

  @media (min-width: $lg-width) {
    font-size: 27px;
    line-height: 35px;
  }
}
