@media print {
  header {
    position: static;
    padding-left: 15px;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-4,
  .col-xs-4,
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-3,
  .col-xs-3,
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .title {
    page-break-before: always !important;
    position: relative;
  }
  .chart-data {
    .row {
      display: inline;
    }
    .col-12 {
      flex: none;
      width: 100%;
      max-width: 100%;
      border-bottom: none;
    }
  }
  .information-data,
  .chart-data {
    page-break-before: always;
  }
  .stat-footer {
    height: 50px;
  }
  footer {
    padding-left: 0;
    padding-right: 0;
  }
}
