.report-item {
  background: $color-white;
  border-radius: $border-radius;
  margin-top: $base-indent;
  box-sizing: border-box;
  width: 100%;

  .report-item-inner {
    padding: $small-indent $base-indent $base-indent;
  }

  @media (min-width: $md-width) {
    &.item-lead {
      min-width: $md-width - $base-indent * 2;
      width: 100%;
    }
  }

  @media (min-width: $lg-width) {
    margin-top: $small-indent * 2;
  }

  @media (min-width: $hd-width) {
    width: 370px;

    &.item-lead {
      min-width: $hd-width - 2 * $lg-indent;
      width: 100%;
    }
  }

  .report-header {
    padding-bottom: $small-indent;
    border-bottom: 1px solid $border-color;
    margin-left: -$base-indent;
    margin-right: -$base-indent;
    padding-left: $base-indent;
    padding-right: $base-indent;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 17px;
      line-height: 21px;
      font-weight: bold;
    }

    .icon-holder {
      padding-left: $base-indent;

      .icon {
        vertical-align: bottom;
        width: 24px;
        height: 24px;
      }
    }
  }

  .report-data {
    margin-top: $base-indent;

    .data-section {
      border-top: 1px solid $border-color;
      margin-top: $base-indent;
      padding-top: $base-indent;
      &:first-child {
        border: none;
        margin-top: 0;
        padding-top: 0;
      }
    }

    .section-item {
      font-size: 15px;
      line-height: 21px;
      display: flex;
      justify-content: space-between;
      margin-top: $base-indent / 2;
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .report-footer {
    font-size: 13px;
    line-height: 18px;
    color: $meta-text-color;
    margin-top: $small-indent;
  }

  &.item-lead {
    margin-top: 0;

    @media (min-width: $md-width) {
      margin-left: 0;
    }

    .report-header {
      margin-bottom: $base-indent;
      display: flex;
      flex-direction: column-reverse;
      border-bottom: 0;
      padding-bottom: 0;

      .logo {
        width: 120px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $base-indent;
        align-self: flex-start;

        img {
          width: 100%;
        }
      }

      .title {
        font-size: 17px;
        line-height: 23px;
        font-weight: bold;
        align-self: flex-start;
      }

      @media (min-width: $lg-width) {
        flex-direction: inherit;
        position: relative;

        .title {
          font-size: 21px;
          line-height: 27px;
          margin-right: 230px;
        }
        .logo {
          margin-bottom: 0;
          width: 200px;
          height: 100px;
          right: 20px;
          position: absolute;
        }
      }
    }

    .report-data {
      .section-item {
        font-size: 15px;
        line-height: 21px;
        display: flex;
        margin-top: $base-indent / 2;
        justify-content: flex-start;

        &:first-child {
          margin-top: 0;
        }

        .item-value {
          margin-left: 5px;
        }
      }
    }
    .report-footer {
      margin-top: $base-indent;
    }
  }

  &.item-article {
    .report-data {
      @media (min-width: $md-width) {
        max-height: 320px;
        overflow: auto;
        &::-webkit-scrollbar {
          width: 0px;
          background: transparent; /* Chrome/Safari/Webkit */
        }
      }

      .data-section {
        .section-item {
          flex-direction: column;

          .section-item-holder {
            display: flex;

            .item-title {
              flex: 1;
              font-size: 13px;
              line-height: 18px;
            }

            .item-image {
              width: 120px;
              height: 80px;
              margin-left: $small-indent;

              img {
                width: 100%;
              }
            }
          }

          .section-footer {
            .report-param {
              display: flex;
              font-size: 15px;
              line-height: 21px;

              .item-value {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }

  &.item-chart {
    .report-data {
      margin: $small-indent * 2 $base-indent / 2 $base-indent / 2;
      .chart-holder {
        display: flex;
        align-items: center;
        justify-content: center;

        .chart-circle {
          width: 220px;
          height: 220px;
          background-color: #f2f2f2;
          border-radius: 110px;
        }

        .chart-bars {
          width: 100%;

          .chart-bar {
            width: 100%;
            height: 30px;
            margin-top: 2px;
            background-color: #f2f2f2;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
