$share-fb-color: #3b5998; // FB
$share-vk-color: #4d75a3; // VK
$share-tw-color: #1da0f1; //twitter
$share-od-color: #ee8208; // OK
$share-gp-color: #dd4b39; // Google
$share-vb-color: #7d5fea; // viber
$share-fm-color: #0084ff;
$share-sk-color: #00aff0;
$share-tg-color: #35a6de;
$share-ws-color: #25d366;
$share-print-color: #888888; //print, border dark for afisha
$share-button-color: #cbd6f4;
$color-dark-gray-1: #888888; //print, border dark for afisha

.b-title {
  font-size: $font-size-big;
  font-weight: bold;
  margin-bottom: 5px;
}

.b-dataset {
  &.sharelist {
    .b-text {
      .b-title {
        font-size: 16px;
        font-weight: 100;
        text-align: center;
      }
    }
  }
}

.b-sharelist {
  padding-top: $padding-1;
  margin-left: -$padding-1;
  padding-left: $padding-1;
  margin-right: -$padding-1;
  padding-right: $padding-1;
  padding-bottom: 0;
  margin-top: -1px;
  font-size: 0;
  text-align: center;

  .b-sharelist__li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 0;
    vertical-align: top;
    padding-bottom: 0;

    margin-bottom: 5px;
    margin-right: 0;
    vertical-align: top;
    padding-bottom: 10px;
    margin-left: 5px;
    padding-top: 11px;

    &.hidden__li {
      display: none;
    }
    &:last-child {
      margin-right: 0;
    }
    .b-socshare {
      display: block;
      box-sizing: content-box;
      min-width: 30px;
      width: auto;
      border: 2px solid;
      border-radius: 3px;
      .soccount {
        display: inline-block;
        height: 30px;
        padding: 0 10px 0 5px;
        color: #fff;
        vertical-align: top;
        font: 13px/33px Arial, Helvetica, sans-serif;
      }
      .b-icon {
        vertical-align: top;
        display: inline-block;
      }

      &.m-fb {
        border-color: $share-fb-color;
        background-color: $share-fb-color;
      }
      &.m-vk {
        border-color: $share-vk-color;
        background-color: $share-vk-color;
      }
      &.m-twt {
        border-color: $share-tw-color;
        background-color: $share-tw-color;
      }
      &.m-od {
        border-color: $share-od-color;
        background-color: $share-od-color;
      }
      &.m-gplus,
      &.m-gp {
        border-color: $share-gp-color;
        background-color: $share-gp-color;
      }
      &.m-vb {
        border-color: $share-vb-color;
        background-color: $share-vb-color;
      }
      &.m-fm {
        border-color: $share-fm-color;
        background-color: $share-fm-color;
      }
      &.m-sk {
        border-color: $share-sk-color;
        background-color: $share-sk-color;
      }
      &.m-tg {
        border-color: $share-tg-color;
        background-color: $share-tg-color;
      }
      &.m-ws {
        border-color: $share-ws-color;
        background-color: $share-ws-color;
      }

      &.m-print {
        border-color: $share-print-color;
        background-color: $share-print-color;
      }
    }
    .icon-fb {
      color: $share-fb-color;
    }

    .icon-vk {
      color: $share-vk-color;
    }

    .icon-twt {
      color: $share-tw-color;
    }

    .icon-od {
      color: $share-od-color;
    }

    .icon-gplus {
      color: $share-gp-color;
    }

    .icon-print {
      color: $color-dark-gray-1;
    }
  }

  .b-article-share {
    .b-sharelist {
      .b-sharelist__li {
        .b-socshare {
          border-width: 5px;
        }
      }
    }
  }

  .b-sharefix {
    .b-sharelist {
      .b-sharelist__li {
        .b-socshare {
          border-width: 2px;
        }
      }
    }
  }
}

//img.tyt.by/i/by5/news/social-sprite.png?4d93a8f926
.icon-ws,
.icon-vk,
.icon-vb,
.icon-twt,
.icon-tg,
.icon-sk,
.icon-print,
.icon-plus-share,
.icon-od,
.icon-gplus,
.icon-gp,
.icon-fm,
.icon-fb,
.icon-youtube,
.icon-vk-sm,
.icon-vb-sm,
.icon-twt-sm,
.icon-rss-sm,
.icon-od-sm,
.icon-inst,
.icon-fb-sm {
  background-image: url("//img.tyt.by/i/by5/news/social-sprite.png?4d93a8f926");
  background-repeat: no-repeat;
  -webkit-background-size: 345px 345px;
  -moz-background-size: 345px 345px;
  background-size: 345px 345px;

  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (min--moz-device-pixel-ratio: 1.5),
    screen and (-o-min-device-pixel-ratio: 150/100),
    screen and (min-device-pixel-ratio: 1.5),
    screen and (min-resolution: 1.5dppx) {
    background-image: url("//img.tyt.by/i/by5/news/social-sprite@1.5x.png?4d93a8f926");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 1),
    screen and (min--moz-device-pixel-ratio: 1),
    screen and (-o-min-device-pixel-ratio: 100/100),
    screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 1dppx) {
    background-image: url("//img.tyt.by/i/by5/news/social-sprite.png?4d93a8f926");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min--moz-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 200/100),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx) {
    background-image: url("//img.tyt.by/i/by5/news/social-sprite@2x.png?4d93a8f926");
  }
}

.icon-ws {
  background-position: -20px -20px;
  width: 30px;
  height: 30px;
}

.icon-vk {
  background-position: -90px -20px;
  width: 30px;
  height: 30px;
}

.icon-vb {
  background-position: -20px -90px;
  width: 30px;
  height: 30px;
}

.icon-twt {
  background-position: -90px -90px;
  width: 30px;
  height: 30px;
}

.icon-tg {
  background-position: -160px -20px;
  width: 30px;
  height: 30px;
}

.icon-sk {
  background-position: -160px -90px;
  width: 30px;
  height: 30px;
}

.icon-print {
  background-position: -20px -160px;
  width: 30px;
  height: 30px;
}

.icon-plus-share {
  background-position: -90px -160px;
  width: 30px;
  height: 30px;
}

.icon-od {
  background-position: -160px -160px;
  width: 30px;
  height: 30px;
}

.icon-gplus {
  background-position: -230px -20px;
  width: 30px;
  height: 30px;
}

.icon-gp {
  background-position: -230px -90px;
  width: 30px;
  height: 30px;
}

.icon-fm {
  background-position: -230px -160px;
  width: 30px;
  height: 30px;
}

.icon-fb {
  background-position: -20px -230px;
  width: 30px;
  height: 30px;
}

.icon-youtube {
  background-position: -90px -230px;
  width: 25px;
  height: 25px;
}

.icon-vk-sm {
  background-position: -155px -230px;
  width: 25px;
  height: 25px;
}

.icon-vb-sm {
  background-position: -220px -230px;
  width: 25px;
  height: 25px;
}

.icon-twt-sm {
  background-position: -300px -20px;
  width: 25px;
  height: 25px;
}

.icon-rss-sm {
  background-position: -300px -85px;
  width: 25px;
  height: 25px;
}

.icon-od-sm {
  background-position: -300px -150px;
  width: 25px;
  height: 25px;
}

.icon-inst {
  background-position: -300px -215px;
  width: 25px;
  height: 25px;
}

.icon-fb-sm {
  background-position: -20px -300px;
  width: 25px;
  height: 25px;
}
