$base-font-family: Arial, Helvetica, sans-serif;

$border-radius: 5px;
$color-white: #fff;

$base-indent: 20px;
$small-indent: 15px;
$lg-indent: 55px;

$main-text-color: #1d1d1d;
$meta-text-color: #808080;

$border-color: #e7e7e7;

// buttons
$button-color: #111111;
$button-background: #d2dfff;
$button-border-radius: 3px;

// responsive points
$sm-width: 480px;
$md-width: 768px;
$lg-width: 1000px;
$hd-width: 1280px;
